#!/bin/bash

# Environment file for MongoDB backup
# Rename this file to .env and modify the MONGODB_URI with your connection string

# MongoDB connection string 
# Replace with your actual connection string
MONGODB_URI=mongodb://username:password@mongodb:27017/database

# Set to "true" to run an initial backup when the container starts
INITIAL_BACKUP=false